<html>
<head>Інформаційне повідомлення <strong>№%(NUMBER_PP)s</strong></head>
<body>
<h4>Шановний <strong>“%(CLIENT_NAME)s”!</strong></h4>
<p>Прохання повернути <strong>оригінали</strong> бухгалтерських документів:
<p>
<strong>Видаткова накладна %(DOC_NUMBER)s від %(DOC_DATE)s,<br> %(DOC_INVOICE)s,<br> опис: “%(DOC_DESC)s” </strong>
<p>в найкоротший термін за адресою:</p>
<p><strong>21034, м. Вінниця, вул. Максима Шимка, 46-Б, приміщення 1<br> 
  <a href="https://polimer.ltd">ТОВ-підприємство "Полімер"</a>.</strong></p>
<p>Цей лист містить вкладення "%(DOC_PDF)s.pdf" з копією видаткової накладної.</p> 
<p>З повагою, менеджер <a href="mailto:%(MANAGER_EMAIL)s">%(MANAGER_NAME)s</a><br>
<em>(0432) 61-65-44<br>
(0432) 61-74-93<br>
(0432) 61-23-94</em>
</p>
</body>
</html>
